<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.kzfire.portal.dao.DeptDao">
	
	<insert id="addUserDept" parameterType="com.kzfire.portal.entiy.SysUserDept"
		useGeneratedKeys="true">
		insert into sys_user_dept
		(user_id,dept_id) values (#{userId},#{deptId})
	</insert>
	
	<delete id="delUserDeptByUser" parameterType="int">
		delete from sys_user_dept where user_id=#{deptId}
	</delete>
	
	<delete id="delUserDeptByDept" parameterType="int">
		delete from sys_user_dept where dept_id=#{deptId}
	</delete>
	
	<delete id="delDept" parameterType="int">
		delete from sys_dept where dept_id=#{deptId}
	</delete>
	
	<select id="getChildrenById" resultType="com.kzfire.portal.entiy.SysDept"
	parameterType="int">
		select dept_id deptId,dept_name deptName,pid,is_end isEnd from sys_dept
		where pid=#{deptId}
	</select>
	
	<select id="getDeptById" resultType="com.kzfire.portal.entiy.SysDept"
	parameterType="int">
		select dept_id deptId,dept_name deptName,pid,is_end isEnd from sys_dept
		where dept_id=#{deptId}
	</select>

	<select id="getAllDept" resultType="com.kzfire.portal.entiy.SysDept">
		select dept_id deptId,dept_name deptName,pid Pid,is_end isEnd from sys_dept order by dept_name
	</select>

	<insert id="addDept" parameterType="com.kzfire.portal.entiy.SysDept"
		useGeneratedKeys="true" keyProperty="deptId">
		insert into sys_dept
		(dept_name,pid,is_end) values (#{deptName},#{pid},#{isEnd})
	</insert>
	
	<update id="updateDept" parameterType="com.kzfire.portal.entiy.SysDept">
		update sys_dept 
		<set>
			<if test="deptName!=null">
				dept_name=#{deptName},
			</if>
			<if test="pid!=null">
				pid=#{pid},
			</if>
			<if test="isEnd!=null">
				is_end=#{isEnd},
			</if>
		</set>
		where dept_id=#{deptId}
	</update>
</mapper>